html {
    font-family: 'Figtree', 'sans-serif';
  }
  
  body {
    background-image: url('/assets/images/bggradient_darker.png');
    background-size: 100vw 100vh;
  }

  .title {
    color: #ffffff;
    font-size: 10vh;
    padding-left: 4.58vw;
    padding-top: 3.3vh;
    font-weight: bold;
    position: fixed;
  }